@import url('https://fonts.googleapis.com/css2?family=Combo&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #A4907C !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

:root{
    --main-color: #98D8AA;
    --second-color: #A4907C;
}

nav{
    width: 100% !important;
}

/* Form Lapor */
h1{
    margin-top: 20px;
}
.container-lapor{
    background-color: white;
    border-radius: 10px;
    width: 900px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 200px;
    padding-left: 10px;
}
.email-pelapor{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.nama-pelapor{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.nohp-pelapor{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.lokasi-kejadian{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.deskripsi-kejadian{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.checkbox{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 800px;
    
}

.input-bukti{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#inputbukti{
    width: 100px;
}
#box-email{
    height: 40px;
    border-radius: 8px;
    border-color: transparent;
    background-color: whitesmoke;
    margin-top: 10px;
    width: 800px;
    padding-left: 10px;
}
#box-nama{
    height: 40px;
    border-radius: 8px;
    border-color: transparent;
    background-color: whitesmoke;
    margin-top: 10px;
    width: 800px;
    padding-left: 10px;

}
#box-nohp{
    height: 40px;
    border-radius: 8px;
    border-color: transparent;
    background-color: whitesmoke;
    margin-top: 10px;
    width: 800px;
    padding-left: 10px;
}
#isilokasi{
    width: 800px;
    height: 150px;
    border-color: transparent;
    background-color: whitesmoke;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    padding-left: 10px;
    padding-top:10px;
}
.jenis-kejadian{
    margin-top: 20px;
}
#isikejadian{
    width: 800px;
    height: 150px;
    border-color: transparent;
    background-color: whitesmoke;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    
}
#kotakcheck{
    margin-right: 20px;
    width: 30px;
}
.form-select{
    width: 680px;
    height: 40px;
    padding-left: 20px;
    border-color: transparent;
    background-color: whitesmoke;
}
.btn-submit{
    width: 800px;
    height: 40px;
    border-radius: 8px;
    border-color: transparent;
    background-color: green;
    color: white;
    margin-bottom: 40px;
}